* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}

body {
	margin: 0 auto;
	max-width: 1440px;
}

section {
	position: relative;

	--horizontal-padding: min(165px, calc(29.545454545454547vw + -260.4545454545455px));

	padding: 0 var(--horizontal-padding);

	@media (max-width: 1000) {
	}
}
