@font-face {
  font-family: "League Spartan";
  font-weight: 300;
  src: url("./assets/fonts/static/LeagueSpartan-Light.ttf") format("truetype");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 400;
  src: url("./assets/fonts/static/LeagueSpartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 600;
  src: url("./assets/fonts/static/LeagueSpartan-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 700;
  src: url("./assets/fonts/static/LeagueSpartan-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --horizontal-padding: 165px;

  --beaver: #9e7f66;
  --mirage: #17192b;
  --cod-gray: #111111;
  --ebony-clay: #242b37;
  --shuttle-gray: #5c6779;

  background: #aaa;
}

.body {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.main {
  width: min(100%, 1440px);
}

.section {
  background: white;

  position: relative;

  padding: 0 var(--horizontal-padding);

  &_dark {
    background: var(--cod-gray);
  }
}

.hero {
  $height: 820px;
  height: $height;

  padding-top: 65px;

  &__crop {
    position: absolute;

    width: 58%;
    height: 100%;

    top: 0;
    right: 0;
  }

  &__image {
    height: $height;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__text-group {
    position: relative; // to keep the text in front of image

    margin-top: 153px;
    margin-bottom: 40px;
  }
}

.enjoyable-place {
  height: 650px;

  &__text-group {
    position: absolute;

    top: 50%;
    transform: translateY(-55%);
    right: var(--horizontal-padding);
  }

  &__crop {
    position: absolute;

    width: min(540px, calc(50% - var(--horizontal-padding) - 15px));
    height: 720px;

    box-shadow: 0 55px 80px -20px #aaa;

    bottom: 0;
    left: var(--horizontal-padding);
  }

  &__image {
    width: auto;
    height: auto;

    transform: translate(-25%, -33%);
  }

  &__top-right-pattern {
    position: absolute;

    width: auto;
    height: auto;

    left: 0;
    bottom: 75px;
  }
}

.locally-sourced {
  height: 761px;

  &__text-group {
    position: absolute;

    top: 50%;
    transform: translateY(-10%);
    left: var(--horizontal-padding);
  }

  &__crop {
    position: absolute;

    z-index: 1;

    width: min(540px, calc(50% - var(--horizontal-padding) - 15px));
    height: 720px;

    bottom: -80px;
    right: var(--horizontal-padding);
  }

  &__image {
    width: auto;
    height: 720px;
  }

  &__top-left-pattern {
    position: absolute;

    width: auto;
    height: auto;

    bottom: 0;
    right: 0;
  }

  &__lines-pattern {
    position: absolute;

    width: auto;
    height: auto;

    z-index: 1;

    right: 51px;
    bottom: 320px;
    transform: translateY(50%);
  }
}

.highlights {
  height: 761px;

  display: flex;

  justify-content: space-between;

  &__text-group {
    position: relative;

    margin-top: 203px;
  }

  &__image {
    width: 128px;
    height: auto;

    margin-right: 62px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    gap: 24px;

    margin-top: 255px;

    margin-bottom: 120px;
  }

  &__item {
    display: flex;

    align-items: center;
  }

  &__item-heading {
    position: relative;
  }

  &__list-divider {
    width: 100%;

    border-bottom: 1px solid var(--ebony-clay);
  }

  &__line-pattern {
    width: 32px;

    position: absolute;
    top: calc(50% - 1px);
    left: -62px;

    border-bottom: 1px solid var(--beaver);
  }
}

.family-gathering {
  height: 920px;

  display: flex;

  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  &__container {
    display: flex;

    gap: 65px;

    justify-self: end;

    flex-direction: column;
  }

  &__image {
    position: relative;

    z-index: 1;

    width: 540px;
    height: auto;

    box-shadow: 0 55px 80px -20px #aaa;
  }

  &__top-right-pattern {
    width: auto;
    height: auto;

    position: absolute;

    top: 0;
    left: -350px;
  }

  &__lines-pattern {
    width: auto;
    height: auto;

    position: absolute;

    z-index: 2;

    top: 122px;
    left: calc(var(--horizontal-padding) - 40px);
  }

  &__list {
    list-style: none;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__line-pattern {
    position: absolute;

    width: 320px;

    transform: rotate(180deg);
    transform-origin: left;

    border-bottom: 1px solid var(--beaver);

    z-index: 0;

    top: calc(50% - 1px);
    left: -32px;
  }
}

.cta {
  height: 240px;

  padding: 0;

  // padding: var(--horizontal-padding);

  &__crop {
    position: absolute;

    width: 100%;
    height: 240px;
  }

  &__image {
    width: auto;
    height: 100%;
  }

  display: flex;

  justify-content: space-between;
  align-items: center;

  &__heading,
  &__button {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-left: var(--horizontal-padding);
  }

  &__button {
    margin-right: var(--horizontal-padding);
  }
}

.crop {
  overflow: hidden;
}

.footer {
  background: black;

  width: min(100%, 1440px);
}

.button {
  width: 245px;
  height: 64px;

  background: none;
  border: 1px solid var(--cod-gray);
  color: var(--cod-gray);

  &:hover {
    color: white;
    background: var(--cod-gray);
  }

  &_white {
    border: 1px solid white;
    color: white;

    &:hover {
      color: var(--mirage);
      background: white;
    }
  }
}

.logo {
  height: 40px;
  width: auto;
}

.text {
  color: var(--ebony-clay);

  &_white {
    color: white;
  }

  &_inactive {
    color: #a6a6a6;
  }

  &_heading_s {
    font-family: "League Spartan";
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 2.5px;
  }

  &_heading_m {
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }

  &_heading_l {
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }

  &_heading_xl {
    font-family: "League Spartan";
    font-weight: 300;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1px;
  }

  &_body_1 {
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  &_body_2 {
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
}

.text-group {
  &__divide-pattern {
    width: auto;
    height: auto;
    margin-bottom: 55px;
  }

  &_size_hero > &__heading {
    width: 14ch;
    margin-bottom: 10px;
  }

  &_size_hero > &__body {
    width: 38ch;
    margin-bottom: 10px;
  }

  &_size_regular > &__heading {
    width: 13ch;
    margin-bottom: 27px;
  }

  &_size_regular > &__body {
    width: 38ch;
  }

  &_size_small > &__heading {
    width: fit-content;
    margin-bottom: 6px;
  }

  &_size_small > &__body {
    width: 40ch;
  }

  &_size_large > &__heading {
    width: 18ch;
    margin-bottom: 27px;
  }

  &_size_large > &__body {
    width: 40ch;
  }
}
