* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.text {
  color: var(--colour-ebony-clay);
  font-family: "League Spartan";

  &_white {
    color: white;
  }

  &_heading_s {
    font-weight: var(--weight-semi-bold);
    font-size: var(--size-m);
    line-height: var(--line-height-s);
    letter-spacing: var(--letter-spacing-2xl);
  }

  &_heading_m {
    font-weight: var(--weight-bold);
    font-size: var(--size-l);
    line-height: var(--line-height-2xs);
    letter-spacing: var(--letter-spacing-m);
  }

  &_heading_l {
    font-weight: var(--weight-bold);
    font-size: var(--size-2xl);
    line-height: var(--line-height-xl);
    letter-spacing: var(--letter-spacing-xs);
  }

  &_heading_xl {
    font-weight: var(--weight-light);
    font-size: var(--size-3xl);
    line-height: var(--line-height-3xl);
    letter-spacing: var(--letter-spacing-3xs);
  }

  &_heading_footer {
    font-weight: var(--weight-regular);
    font-size: var(--size-xs);
    line-height: var(--line-height-s);
    letter-spacing: var(--letter-spacing-xl);
  }

  &_body_1 {
    font-weight: var(--weight-regular);
    font-size: var(--size-l);
    line-height: var(--line-height-m);
    letter-spacing: var(--letter-spacing-zero);
  }

  &_body_2 {
    font-weight: var(--weight-regular);
    font-size: var(--size-s);
    line-height: var(--line-height-xs);
    letter-spacing: var(--letter-spacing-zero);
  }

  &_form_1 {
    font-weight: var(--weight-regular);
    font-size: var(--size-l);
    line-height: var(--line-height-s);
    letter-spacing: var(--letter-spacing-zero);
  }

  &_form_2 {
    font-weight: var(--weight-bold);
    font-size: var(--size-l);
    line-height: var(--line-height-2xs);
    letter-spacing: var(--letter-spacing-m);
  }

  &_form_3 {
    font-weight: var(--weight-regular);
    font-size: var(--size-2xs);
    line-height: var(--size-2xs);
    letter-spacing: var(--letter-spacing-l);
  }
}

.text-group {
  &__divide-pattern {
    width: auto;
    height: auto;
    margin-bottom: 55px;
  }

  &_size_hero > &__heading {
    max-width: 14ch;
    margin-bottom: 10px;
  }

  &_size_hero > &__body {
    max-width: 38ch;
  }

  &_size_regular > &__heading {
    max-width: 13ch;
    margin-bottom: 27px;
  }

  &_size_regular > &__body {
    max-width: 39ch;
  }

  &_size_small > &__heading {
    max-width: fit-content;
    margin-bottom: 6px;
  }

  &_size_small > &__body {
    max-width: 40ch;
  }

  &_size_large > &__heading {
    max-width: 18ch;
    margin-bottom: 27px;
  }

  &_size_large > &__body {
    max-width: 40ch;
  }
}

:root {
  --t: calc(100vw - 1240px) / calc(1440 - 1240);
  --horizontal-padding: clamp(65px, 65px + var(--t) * (165 - 65), 165px);

  background: #aaa;
}

.button {
  width: 245px;
  height: 64px;

  background: none;
  border: 1px solid var(--colour-cod-gray);
  color: var(--colour-cod-gray);

  &:hover {
    color: white;
    background: var(--colour-cod-gray);
    cursor: pointer;
  }

  &_style {
    &_white {
      border: 1px solid white;
      color: white;

      &:hover {
        color: var(--colour-mirage);
        background: white;
      }
    }

    &_invert {
      color: white;
      background: var(--colour-cod-gray);
      cursor: pointer;

      &:hover {
        background: white;
        border: 1px solid var(--colour-cod-gray);
        color: var(--colour-cod-gray);
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: column;

  align-items: center;
}

main {
  width: min(100%, 1440px);
}

.section {
  background: white;

  position: relative;

  padding: 0 var(--horizontal-padding);

  &_dark {
    background: var(--colour-cod-gray);
  }
}

.hero {
  height: 820px;

  padding-top: 65px;

  &__logo {
    position: relative;
    z-index: 1;
  }

  &__crop {
    position: absolute;

    width: min(100%, 895px);
    height: 100%;

    top: 0;
    right: 0;
  }

  &__image {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    filter: contrast(93%) saturate(92%);
  }

  &__text-group {
    position: relative; // to keep the text in front of image

    margin-top: 153px;
    margin-bottom: 40px;
  }

  &__button {
    position: relative;
  }
}

.enjoyable-place {
  height: 629px;

  display: flex;

  justify-content: space-between;
  align-items: center;

  gap: 50px;

  &__text-group {
    position: relative;
  }

  &__crop {
    position: relative;

    top: -24.5px;

    max-width: min(50%, 540px);
    aspect-ratio: 540/720;

    box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5032);

    z-index: 1;
  }

  &__image {
    width: 955px;
    height: auto;

    transform: translate(-252px, -334px);
  }

  &__top-right-pattern {
    position: absolute;

    width: auto;
    height: auto;

    left: 0;
    bottom: 57px;
  }
}

.locally-sourced {
  height: 782px;

  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
  align-items: center;

  gap: 50px;

  &__text-group {
    position: relative;

    top: 88.5px;
  }

  &__crop {
    position: relative;

    z-index: 1;

    max-width: min(50%, 540px);
    aspect-ratio: 540/720;

    top: 109px;
  }

  &__image {
    width: auto;
    height: 720px;
  }

  &__top-left-pattern {
    position: absolute;

    width: auto;
    height: auto;

    bottom: 0;
    right: 0;
  }

  &__lines-pattern {
    position: absolute;

    width: auto;
    height: auto;

    z-index: 1;

    right: 51px;
    bottom: 320px;
    transform: translateY(50%);
  }
}

.highlights {
  height: 761px;

  display: flex;

  gap: 50px;

  &__text-group {
    margin-top: 203px;
  }

  &__image {
    width: 128px;
    height: auto;

    margin-right: 62px;
  }

  &__list {
    flex-shrink: 1;

    display: flex;
    flex-direction: column;

    gap: 24px;

    margin-top: 255px;

    margin-bottom: 120px;
  }

  &__item {
    display: flex;

    align-items: center;
  }

  &__item-heading {
    position: relative;
  }

  &__list-divider {
    width: 100%;

    border-bottom: 1px solid var(--colour-ebony-clay);
  }

  &__line-pattern {
    width: 32px;
    height: calc(1em / 2);

    position: absolute;
    left: -62px;

    border-bottom: 1px solid var(--colour-beaver);
  }
}

.slides {
  list-style: none;
  position: relative;

  $height: 920px;
  min-height: $height;

  &__slide {
    opacity: 0;
    display: none;

    position: absolute;
    inset: 0;

    min-height: $height;

    gap: 50px;

    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    &[active] {
      position: relative;
      opacity: 1;
      display: flex;
    }
  }

  &__container {
    position: relative;

    height: 468px;

    display: grid;

    grid-template-rows: 157px 1fr 108px;

    grid-template-areas:
      "text"
      "btn"
      "list";

    margin-top: 5px;
  }

  &__image {
    position: relative;

    z-index: 1;

    max-width: min(50%, 540px);
    height: auto;

    box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5032);
  }

  &__top-right-pattern {
    width: auto;
    height: auto;

    position: absolute;

    top: 0;
    left: -350px;
  }

  &__lines-pattern {
    width: auto;
    height: auto;

    position: absolute;

    z-index: 2;

    top: 122px;
    left: calc(var(--horizontal-padding) - 40px);
  }

  &__text-group {
    grid-area: text;
  }

  &__button {
    grid-area: btn;

    align-self: self-end;
    margin-bottom: 79px;
  }

  &__list {
    grid-area: list;

    list-style: none;
  }

  &__item {
    position: relative;

    user-select: none;

    &[data-inactive] {
      color: #a6a6a6;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      color: var(--colour-ebony-clay);

      cursor: pointer;
    }
  }

  &__line-pattern {
    position: absolute;

    width: 320px;

    transform: rotate(180deg);
    transform-origin: left;

    border-bottom: 1px solid var(--colour-beaver);

    z-index: 0;

    top: calc(50% - 1px);
    left: -32px;
  }
}

.cta {
  height: 240px;

  &__image {
    position: absolute;

    left: 0;

    width: auto;
    height: 100%;
  }

  display: flex;

  justify-content: space-between;
  align-items: center;

  &__heading,
  &__button {
    position: relative;
    z-index: 1;
  }
}

.booking {
  height: 600px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 50px;

  &__logo {
    position: absolute;
    z-index: 1;

    top: 65px;
  }

  &__image {
    position: absolute;
    width: auto;
    height: 100%;

    inset: 0;
  }

  &__text-group {
    position: absolute;
    z-index: 1;

    top: 258px;
  }
}

.form {
  position: absolute;
  z-index: 1;

  background: white;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  max-width: 540px;
  min-height: 545px;

  padding: 48px;

  right: var(--horizontal-padding);
  top: 258px;

  box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5032);

  & *[invalid] {
    color: var(--colour-error-red);
    border-color: var(--colour-error-red);
  }

  &__required-label-group {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  &__required {
    visibility: hidden;
    position: absolute;
    color: var(--colour-error-red);

    top: 30px;

    width: max-content;

    &_offset {
      top: 50px;
      left: 16px;
    }

    &[invalid] {
      visibility: visible;
    }
  }

  &__dropdown {
    position: relative;

    display: flex;
    align-items: center;
  }

  &__dropdown-icon {
    position: absolute;
    width: 16px;
    height: 8px;
    right: 0;
    top: 50%;
    transform: translate(-16px, calc(-50% - 2px));

    &[data-open] {
      transform: translate(-16px, calc(-50% - 2px)) rotate(180deg);
    }
  }

  &__dropdown-list {
    display: flex;
    flex-direction: column;

    gap: 16px;

    z-index: 2;

    list-style: none;
    width: 106px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(56, 66, 85, 0.2462);

    padding: 18px 30px 13px 0;

    left: 0;
    bottom: -115px;

    &[data-inactive] {
      display: none;
    }
  }

  &__dropdown-item {
    width: 60px;
    text-align: right;
    &[data-selected] {
      background-image: url("./assets/icons/icon-check.svg");
      background-repeat: no-repeat;
      background-position: 16px 8px;
      background-size: 10.43px 7.66px;
    }
  }

  &__input {
    background-color: white;
    height: 43px;

    padding-left: 16px;

    border: none;
    border-bottom: 1px solid #8e8e8e;

    caret-color: var(--colour-beaver);

    &:focus {
      outline: none;
    }
  }

  & > * {
    width: 100%;
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px;
  }

  &__button-subtract {
    width: 5.8px;
    height: 2.38px;
  }

  &__button-add {
    width: 9.24px;
    height: 9.24px;
  }

  &__group {
    display: flex;

    gap: 65px;

    justify-content: space-between;
    align-items: center;
  }

  &__tuple {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 16px;

    & > * {
      width: 80px;

      &:last-child {
        width: 97px;
      }
    }
  }
}

.pattern-section {
  height: 319px;

  padding: 0;

  & > img {
    position: absolute;
    height: auto;
  }

  &__lines-pattern {
    width: 160px;
    height: 76px;

    top: 165px;
    left: 665px;
  }
}

.footer {
  height: 240px;

  background: black;
  width: min(100%, 1440px);

  display: flex;

  gap: 192px;

  padding-top: 78px;

  &__grid {
    display: flex;

    gap: 124px;

    align-items: flex-start;
  }
}

.crop {
  overflow: hidden;
}

.logo {
  height: 40px;
  width: auto;
}

@media (max-width: 1100px) {
  :root {
    --t: calc(100vw - 600px) / calc(768 - 600);
    --horizontal-padding: clamp(65px, 65px + var(--t) * (98 - 65), 98px);
  }

  .text {
    &_heading_xl {
      font-size: var(--size-2xl);
      line-height: var(--line-height-2xl);
      letter-spacing: var(--letter-spacing-2xs);
    }
  }

  .text-group {
    &__divide-pattern {
      margin-bottom: 42px;
    }

    &_size_hero > &__heading {
      margin-bottom: 20px;
    }

    &_size_hero > &__body {
      max-width: 49ch;
    }

    &_size_regular > &__heading {
      margin-bottom: 19px;
    }

    &_size_regular > &__body {
      max-width: 40ch;
    }
  }

  .hero {
    height: fit-content;
    min-height: 992px;

    padding-top: 0;

    display: flex;

    flex-direction: column;
    align-items: center;

    &__logo {
      margin-top: 374px;
    }

    &__crop {
      width: 100%;
      height: 373px;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__text-group {
      display: flex;
      flex-direction: column;

      align-items: center;

      text-align: center;

      margin-top: 38px;
      margin-bottom: 52px;
    }
  }

  .enjoyable-place {
    height: 697px;

    flex-direction: column;

    justify-content: flex-start;

    gap: 56px;

    &__text-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      transform: translate(0, -106px);
    }

    &__crop {
      top: 0px;

      transform: translate(0, -106px);

      max-width: 100%;
      aspect-ratio: 573/360;
    }

    &__image {
      width: 100%;
      height: auto;

      transform: translate(0px, 0px);
    }

    &__top-right-pattern {
      left: -517px;
      top: 100px;
    }
  }

  .locally-sourced {
    height: 793px;

    flex-direction: column;

    justify-content: flex-start;
    gap: 56px;

    padding-bottom: 118px;

    &__text-group {
      top: 0px;

      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
    }

    &__crop {
      top: 0px;

      max-width: 100%;
      aspect-ratio: 573/360;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__top-left-pattern {
      right: -511px;
    }

    &__lines-pattern {
      right: 51px;
      bottom: 489px;
      transform: translateY(0%);
    }
  }

  .highlights {
    height: 891px;

    flex-direction: column;
    align-items: center;

    gap: 54px;

    &__text-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 96px;
      text-align: center;
    }

    &__list {
      margin-top: 0px;
    }

    &__item {
      align-items: flex-start;
    }
  }

  .slides {
    $height: 1021px;

    min-height: $height;

    &__slide {
      padding-top: 120px;
      flex-direction: column;
      text-align: center;

      min-height: $height;

      gap: 0px;

      justify-content: flex-start;
    }

    &__container {
      margin-top: 57px;
      margin-bottom: 120px;

      width: calc(100% + 2 * var(--horizontal-padding));
      height: 364px;
      min-height: 364px;
      grid-template-rows: 36px 1fr 64px;

      grid-template-areas:
        "list"
        "text"
        "btn";
    }

    &__image {
      max-width: 100%;
    }

    &__lines-pattern {
      top: 82px;
      left: calc(var(--horizontal-padding) - 58px);
    }

    &__text-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      height: fit-content;
      margin-top: 47px;
      margin-bottom: 0px;
      align-self: self-start;
      transform: translateY(-6px);
    }

    &__button {
      justify-self: center;
      margin-bottom: 0px;
    }

    &__list {
      display: flex;
      width: 100%;

      justify-content: space-around;

      align-self: self-start;
    }

    &__item {
      position: relative;

      user-select: none;
    }

    &__line-pattern {
      width: 48px;

      top: 28px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .cta {
    height: 272px;

    overflow: hidden;

    flex-direction: column;

    justify-content: center;

    gap: 24px;

    &__image {
      width: 100%;
      height: auto;

      @media (max-width: 768px) {
        width: auto;
        height: 100%;
      }
    }

    &__heading {
      text-align: center;
    }
  }

  .booking {
    flex-direction: column;

    align-items: center;

    justify-content: flex-start;

    padding: 166px 0;

    gap: 38px;

    &__image {
      width: 100%;
      height: auto;
      @media (max-width: 768px) {
        width: auto;
        height: 100%;
      }
    }

    &__logo {
      left: 40px;
      top: 56px;
    }

    &__text-group {
      position: static;

      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      & .text-group__heading {
        margin-bottom: 11px;
      }
    }
  }

  .form {
    position: static;
  }

  .pattern-section {
    height: 435px;

    &__lines-pattern {
      display: none;
    }

    &__bottom-right-pattern {
      display: none;
    }
  }

  .footer {
    height: fit-content;

    gap: 130px;

    padding: 64px 40px;

    &__grid {
      flex-direction: column;

      gap: 32px;
    }
  }
}

@media (max-width: 600px) {
  :root {
    --horizontal-padding: 24px;
  }

  .logo {
    height: 32px;
  }

  .text {
    &_heading_xl {
      font-size: var(--size-xl);
      line-height: var(--line-height-l);
      letter-spacing: var(--letter-spacing-s);
    }

    &_heading_l {
      font-size: var(--size-xl);
      line-height: var(--line-height-l);
      letter-spacing: var(--letter-spacing-s);
    }

    &_body_1 {
      font-size: var(--size-s);
      line-height: var(--line-height-xs);
      letter-spacing: var(--letter-spacing-zero);
    }
  }

  .text-group {
    &__divide-pattern {
      margin-bottom: 39px;
    }

    &_size_hero > &__heading {
      margin-bottom: 21px;
    }

    &_size_regular > &__heading {
      margin-bottom: 11px;
    }

    &_size_large > &__heading {
      margin-bottom: 12px;
    }
  }

  .hero {
    min-height: 748px;

    &__logo {
      margin-top: 232px;
    }

    &__crop {
      height: 220px;
    }

    &__text-group {
      margin-top: 36px;
      margin-bottom: 53px;
    }
  }

  .enjoyable-place {
    height: 691px;

    gap: 48px;

    &__text-group {
      transform: translate(0, -72px);
    }

    &__crop {
      transform: translate(0, -72px);

      aspect-ratio: 327/400;
    }

    &__top-right-pattern {
      display: none;
    }
  }

  .locally-sourced {
    height: 763px;

    gap: 48px;

    padding-bottom: 101px;

    &__crop {
      aspect-ratio: 327/400;
    }

    &__top-left-pattern {
      display: none;
    }

    &__lines-pattern {
      display: none;
    }
  }

  .highlights {
    height: fit-content;
    min-height: 1720px;

    gap: 85px;

    &__text-group {
      margin-top: 72px;
    }

    &__image {
      margin-right: 0;
      margin-bottom: 36px;

      width: 100%;

      aspect-ratio: 327/245;
    }

    &__item {
      align-items: center;
      flex-direction: column;

      margin-bottom: 30px;

      & > .text-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
      }
    }

    &__line-pattern {
      display: none;
    }
  }

  .slides {
    $height: 1044;

    min-height: $height;

    &__slide {
      padding-top: 80px;

      min-height: $height;
    }

    &__container {
      margin-top: 49px;
      margin-bottom: 124px;

      width: 100%;
      height: 391px;
      min-height: 391px;
      grid-template-rows: 116px 1fr 64px;
    }

    &__text-group {
      transform: translateY(-16px);
    }

    &__list {
      flex-direction: column;

      gap: 5px;

      justify-content: center;
    }

    &__lines-pattern {
      display: none;
    }

    &__top-right-pattern {
      display: none;
    }
  }

  .cta {
    height: 328px;
    &__image {
      width: 100%;
      height: auto;

      @media (max-width: 375px) {
        width: auto;
        height: 100%;
      }
    }
  }

  .footer {
    height: fit-content;

    flex-direction: column;
    align-items: center;

    gap: 42px;

    padding: 80px 24px;

    &__grid {
      flex-direction: column;

      gap: 32px;
    }

    &__group {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}
