@font-face {
  font-family: "League Spartan";
  font-weight: 300;
  src: url("./assets/fonts/static/LeagueSpartan-Light.ttf") format("truetype");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 400;
  src: url("./assets/fonts/static/LeagueSpartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 600;
  src: url("./assets/fonts/static/LeagueSpartan-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 700;
  src: url("./assets/fonts/static/LeagueSpartan-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.text {
  color: var(--ebony-clay);

  &_white {
    color: white;
  }

  &_heading_s {
    font-family: "League Spartan";
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 2.5px;
  }

  &_heading_m {
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }

  &_heading_l {
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.5px;
  }

  &_heading_xl {
    font-family: "League Spartan";
    font-weight: 300;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1px;
  }

  &_heading_footer {
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  &_body_1 {
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  &_body_2 {
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  &_form_1 {
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  &_form_2 {
    font-family: "League Spartan";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.25px;
  }

  &_form_3 {
    font-family: "League Spartan";
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -0.13px;
  }
}

.text-group {
  &__divide-pattern {
    width: auto;
    height: auto;
    margin-bottom: 55px;
  }

  &_size_hero > &__heading {
    max-width: 14ch;
    margin-bottom: 10px;
  }

  &_size_hero > &__body {
    max-width: 38ch;
    margin-bottom: 10px;
  }

  &_size_regular > &__heading {
    max-width: 13ch;
    margin-bottom: 27px;
  }

  &_size_regular > &__body {
    max-width: 39ch;
  }

  &_size_small > &__heading {
    max-width: fit-content;
    margin-bottom: 6px;
  }

  &_size_small > &__body {
    max-width: 40ch;
  }

  &_size_large > &__heading {
    max-width: 18ch;
    margin-bottom: 27px;
  }

  &_size_large > &__body {
    max-width: 40ch;
  }
}

:root {
  --t: calc(100vw - 1240px) / calc(1440 - 1240);
  --horizontal-padding: clamp(65px, 65px + var(--t) * (165 - 65), 165px);

  --beaver: #9e7f66;
  --mirage: #17192b;
  --cod-gray: #111111;
  --ebony-clay: #242b37;
  --shuttle-gray: #5c6779;
  --error-red: #b54949;

  background: #aaa;
}

.button {
  width: 245px;
  height: 64px;

  background: none;
  border: 1px solid var(--cod-gray);
  color: var(--cod-gray);

  &:hover {
    color: white;
    background: var(--cod-gray);
    cursor: pointer;
  }

  &_white {
    border: 1px solid white;
    color: white;

    &:hover {
      color: var(--mirage);
      background: white;
    }
  }

  &_invert {
    color: white;
    background: var(--cod-gray);
    cursor: pointer;

    &:hover {
      background: white;
      border: 1px solid var(--cod-gray);
      color: var(--cod-gray);
    }
  }
}

.body {
  display: flex;
  flex-direction: column;

  align-items: center;
}

main {
  width: min(100%, 1440px);
}

.section {
  background: white;

  position: relative;

  padding: 0 var(--horizontal-padding);

  &_dark {
    background: var(--cod-gray);
  }
}

.hero {
  height: 820px;

  padding-top: 65px;

  &__logo {
    position: relative;
    z-index: 1;
  }

  &__crop {
    position: absolute;

    width: min(100%, 895px);
    height: 100%;

    top: 0;
    right: 0;
  }

  &__image {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    filter: contrast(93%) saturate(92%);
  }

  &__text-group {
    position: relative; // to keep the text in front of image

    margin-top: 153px;
    margin-bottom: 40px;
  }

  &__button {
    position: relative;
  }
}

.enjoyable-place {
  height: 629px;

  display: flex;

  justify-content: space-between;
  align-items: center;

  gap: 50px;

  &__text-group {
    position: relative;
  }

  &__crop {
    position: relative;

    top: -24.5px;

    max-width: min(50%, 540px);
    aspect-ratio: 540/720;

    box-shadow: 0 55px 80px -20px #aaa;

    z-index: 1;
  }

  &__image {
    width: 955px;
    height: auto;

    transform: translate(-252px, -334px);
  }

  &__top-right-pattern {
    position: absolute;

    width: auto;
    height: auto;

    left: 0;
    bottom: 57px;
  }
}

.locally-sourced {
  height: 782px;

  display: flex;

  justify-content: space-between;
  align-items: center;

  gap: 50px;

  &__text-group {
    position: relative;

    top: 88.5px;
  }

  &__crop {
    position: relative;

    z-index: 1;

    max-width: min(50%, 540px);
    aspect-ratio: 540/720;

    top: 109px;
  }

  &__image {
    width: auto;
    height: 720px;
  }

  &__top-left-pattern {
    position: absolute;

    width: auto;
    height: auto;

    bottom: 0;
    right: 0;
  }

  &__lines-pattern {
    position: absolute;

    width: auto;
    height: auto;

    z-index: 1;

    right: 51px;
    bottom: 320px;
    transform: translateY(50%);
  }
}

.highlights {
  height: 761px;

  display: flex;

  gap: 50px;

  &__text-group {
    margin-top: 203px;
  }

  &__image {
    width: 128px;
    height: auto;

    margin-right: 62px;
  }

  &__list {
    flex-shrink: 1;

    display: flex;
    flex-direction: column;

    gap: 24px;

    margin-top: 255px;

    margin-bottom: 120px;
  }

  &__item {
    display: flex;

    align-items: center;
  }

  &__item-heading {
    position: relative;
  }

  &__list-divider {
    width: 100%;

    border-bottom: 1px solid var(--ebony-clay);
  }

  &__line-pattern {
    width: 32px;
    height: calc(50% - 1px);

    position: absolute;
    left: -62px;

    border-bottom: 1px solid var(--beaver);
  }
}

.slides {
  list-style: none;
  position: relative;

  $height: 920px;
  height: $height;

  &__slide {
    opacity: 0;
    display: none;

    position: absolute;
    inset: 0;

    height: $height;

    gap: 50px;

    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    &[active] {
      opacity: 1;
      display: flex;
    }
  }

  &__container {
    position: relative;

    height: 468px;

    display: flex;

    justify-content: space-between;

    flex-direction: column;
  }

  &__image {
    position: relative;

    z-index: 1;

    max-width: min(50%, 540px);
    height: auto;

    box-shadow: 0 55px 80px -20px #aaa;
  }

  &__top-right-pattern {
    width: auto;
    height: auto;

    position: absolute;

    top: 0;
    left: -350px;
  }

  &__lines-pattern {
    width: auto;
    height: auto;

    position: absolute;

    z-index: 2;

    top: 122px;
    left: calc(var(--horizontal-padding) - 40px);
  }

  &__button {
    position: absolute;

    top: 220px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    position: relative;

    user-select: none;

    &[data-inactive] {
      color: #a6a6a6;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      color: var(--ebony-clay);

      cursor: pointer;
    }
  }

  &__line-pattern {
    position: absolute;

    width: 320px;

    transform: rotate(180deg);
    transform-origin: left;

    border-bottom: 1px solid var(--beaver);

    z-index: 0;

    top: calc(50% - 1px);
    left: -32px;
  }
}

.cta {
  height: 240px;

  padding: 0;

  &__crop {
    position: absolute;

    width: 100%;
    height: 240px;
  }

  &__image {
    width: auto;
    height: 100%;
  }

  display: flex;

  justify-content: space-between;
  align-items: center;

  &__heading,
  &__button {
    position: relative;
    z-index: 1;
  }

  &__heading {
    margin-left: var(--horizontal-padding);
  }

  &__button {
    margin-right: var(--horizontal-padding);
  }
}

.booking {
  height: 600px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 50px;

  &__logo {
    position: absolute;
    z-index: 1;

    top: 65px;
  }

  &__crop {
    position: absolute;
    width: 100%;
    height: 100%;

    inset: 0;
  }

  &__image {
    height: 100%;
  }

  &__text-group {
    position: absolute;
    z-index: 1;

    top: 258px;
  }
}

.form {
  position: absolute;
  z-index: 1;

  background: white;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  max-width: 540px;
  min-height: 545px;

  padding: 48px;

  right: var(--horizontal-padding);
  top: 258px;

  box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5032);

  & *[invalid] {
    color: var(--error-red);
    border-color: var(--error-red);
  }

  &__required-label-group {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  &__required {
    visibility: hidden;
    position: absolute;
    color: var(--error-red);

    top: 30px;

    width: max-content;

    &_offset {
      top: 50px;
      left: 16px;
    }

    &[invalid] {
      visibility: visible;
    }
  }

  &__dropdown {
    position: relative;

    display: flex;
    align-items: center;
  }

  &__dropdown-icon {
    position: absolute;
    width: 16px;
    height: 8px;
    right: 0;
    top: 50%;
    transform: translate(-16px, calc(-50% - 2px));

    &[data-open] {
      transform: translate(-16px, calc(-50% - 2px)) rotate(180deg);
    }
  }

  &__dropdown-list {
    display: flex;
    flex-direction: column;

    gap: 16px;

    z-index: 2;

    list-style: none;
    width: 106px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(56, 66, 85, 0.2462);

    padding: 18px 30px 13px 0;

    left: 0;
    bottom: -115px;

    &[data-inactive] {
      display: none;
    }
  }

  &__dropdown-item {
    width: 60px;
    text-align: right;
    &[data-selected] {
      background-image: url("./assets/icons/icon-check.svg");
      background-repeat: no-repeat;
      background-position: 16px 8px;
      background-size: 10.43px 7.66px;
    }

    &__dropdown-list[data-inactive] &[data-selected] {
    }
  }

  &__input {
    background-color: white;
    height: 43px;

    padding-left: 16px;

    border: none;
    border-bottom: 1px solid #8e8e8e;

    caret-color: var(--beaver);

    &:focus {
      outline: none;
    }
  }

  & > * {
    width: 100%;
  }

  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px;
  }

  &__button-subtract {
    width: 5.8px;
    height: 2.38px;
  }

  &__button-add {
    width: 9.24px;
    height: 9.24px;
  }

  &__group {
    display: flex;

    gap: 65px;

    justify-content: space-between;
    align-items: center;
  }

  &__tuple {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 16px;

    & > * {
      width: 80px;

      &:last-child {
        width: 97px;
      }
    }
  }
}

.pattern-section {
  height: 319px;

  padding: 0;

  & > img {
    position: absolute;
    height: auto;
  }

  &__lines-pattern {
    width: 160px;
    height: 76px;

    top: 165px;
    left: 665px;
  }
}

.footer {
  height: 240px;

  background: black;
  width: min(100%, 1440px);

  display: flex;

  gap: 192px;

  padding-top: 78px;

  &__grid {
    height: 84px;

    display: grid;

    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}

.crop {
  overflow: hidden;
}

.logo {
  height: 40px;
  width: auto;
}
